<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjl.shrmanagementsystem.dao.PositionMapper">
  <resultMap id="BaseResultMap" type="Position">
    <id column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <association property="department" column="department_id" javaType="Department" select="com.zjl.shrmanagementsystem.dao.DepartmentMapper.selectByPrimaryKey">

    </association>
  </resultMap>
  <sql id="Base_Column_List">
    position_id, department_id, position_name, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_position
    where position_id = #{positionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_position
    where position_id = #{positionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Position">
    insert into t_position (position_id, department_id, position_name, 
      create_date, update_date)
    values (#{positionId,jdbcType=INTEGER}, #{department.departmentId,jdbcType=INTEGER}, #{positionName,jdbcType=VARCHAR},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="Position">
    insert into t_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        position_id,
      </if>
      <if test="department != null">
        <if test="department.departmentId != null">
          department_id,
        </if>
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      create_date,update_date
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        <if test="department.departmentId != null">
          #{departmentId,jdbcType=INTEGER},
        </if>
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      now(),now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Position">
    update t_position
    <set>
      <if test="department != null">
        <if test="department.departmentId != null">
          department_id = #{departmentId,jdbcType=INTEGER},
        </if>
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Position">
    update t_position
    set department_id = #{department.departmentId,jdbcType=INTEGER},
      position_name = #{positionName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE}
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
</mapper>