<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标准化人力资源管理系统</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index-style.css}" href="/css/index-style.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/reg-style.css}" href="/css/reg-style.css">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div th:replace="head :: body"></div>
    <div class="content">

    </div>
    <div th:replace="foot :: body"></div>
</body>
</html>